<html>
  <head> 
    <script src='{{ 'easy_quote_sealapps.js' | asset_url }}' defer='defer' ></script> 
    <script id='quote_product_variants' type='application/json'>
        {{ product.variants | json }}
    </script>
    <script id='quote_product_selected_or_first_available_variant' type='application/json'>
        {{ product.selected_or_first_available_variant | json }}
    </script>
    <script id='quote_product_current_id' type='application/json'>
            {{ product.id | json }}
    </script>

    {{ content_for_header }}
    <link rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'bootstrap-theme.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'owl.carousel.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'owl.theme.default.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'CustomFonts.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'mediaQuery.css' | asset_url }}">
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
    <script src="{{ 'script.js' | asset_url }}"></script>
  </body>
</html>