<!-- featured inventory section starts here -->
<section class="featuredInventory">
  <div class="container">
    <h2 class="mainHeading">FEATURED INVENTORY</h2>
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div class="BoatCarousel owl-carousel owl-theme">
          {% for product in section.settings.collection.products %}
            <div class="item">
              <div class="boatCard">
                <div class="boatImg">
                  {% comment %} <img src="assets/images/boatsImages/boat001.png" alt=""> {% endcomment %}
                  {{ product.featured_media | image_url: width: 2000 | image_tag }}
                  <span class="boatTag closeTag">
                    {% if product.available == true %}
                      AVAILABLE
                    {% else %}
                      SOLDOUT
                    {% endif %}
                  </span>
                </div>
                <div class="boatDetail">
                  <h3>{{ product.title | escape }}</h3>
                  <ul>
                    <li>Price:
                      <span>{{ product.price | money }}</span>
                    </li>
                    <li>Vendor:
                      <span>{{ product.vendor }}</span>
                    </li>
                    <li>Options:
                      <span>{{ product.options_with_values }}</span>
                    </li>
                    <li>Capacity:
                      <span>16</span>
                    </li>
                  </ul>
                  <a class="customBtnBlack" href="#">VIEW BOAT</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- featured inventory section ends here -->
{% schema %}
  {
    "name": "featuredCollection",
    "tag": "section",
    "class": "featColction",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Featured Collection"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}